# If the user-class is "iPXE" tag it as "ipxeclient":
dhcp-userclass=set:ipxeclient,iPXE
# If the request is tagged with "ipxeclient" then chain it to the ipxe
# script:
dhcp-boot=tag:ipxeclient,http://_SHERRY_SERVER_NAME_/pxe/chain.pxe
# If the request is not tagged with "ipxeclient" it is probably a NIC card
# and we want it to load iPXE:
dhcp-boot=tag:!ipxeclient,undionly.kpxe
